@font-face {
  font-family: "oldstyle";
  src: url("/src/font/OLDSIH__.woff");
}

.buy-book {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 30% 15% 20% 15%;
  img {
    width: 70vw;
  }
  .texte-book {
    padding-top: 10vh;
    font-family: oldstyle;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    a {
      font-size: 40px;
      margin-top: 10vh;
    }

    h2 {
      font-size: 60px;
      img {
        width: 30vh;
      }
    }
    h3 {
      font-size: 16px;
    }
    p {
      margin-top: 4%;
      color: #fff;
      font-size: 16px;
    }
  }
}
